form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}