<div class=" content">

    <div class="title">
        <h1>Manage users</h1>
    </div>

    <!-- <app-create (getEventData)="getDataEvent()"></app-create> -->

    <div class="btn">
        <button mat-flat-button color="primary" (click)="openDialogCreate()">Create user
            <mat-icon>account_box</mat-icon></button>
    </div>

    <table mat-table [dataSource]="users" class="mat-elevation-z8">

        <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef> Document </th>
            <td mat-cell *matCellDef="let element"> {{element.document}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="openDialogUpdate(element)">Update
                    <mat-icon>update</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <app-delete (getEventData)="getDataEvent()" document="{{element.document}}"></app-delete>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>